language: java
jdk:
- oraclejdk8
notifications:
  email:
    recipients:
      - uo237040@uniovi.es
      - uo237085@uniovi.es
      - uo235241@uniovi.es
    on_success: never
    on_failure: never
before_install:
  - pip install --user codecov
after_success:
  - codecov
services:
  - mysql
before_script:
  - mysql -e 'create database censuses_1b;'
  - mysql -e 'show databases';
  - mysql -e 'use censuses_1b; CREATE TABLE USUARIOS ( id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(30), email  VARCHAR(50) UNIQUE, nif varchar(10), censusesInfo varchar(20), pass varchar(256) );'
env:
  - test_local=no
